body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: #011627;
   color: #fdfffc;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
   margin-top: 2em;
   padding: 1em;
   width: fit-content;
   border: 5px #ff9f1c solid;
   border-radius: 15%;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.container > form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

form > * {
   margin: 2px;
}

.button {
   background-color: #4caf50;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}

.button:hover {
   background-color: #4caf4fb9;
}

h1 {
   margin: 0;
}

.welcomeImg {
   border-radius: 5vw;
}
